/*************************************** BOARD STYLE ****************************************/
.boardGame,
.boardGameMessage,
.boardGameTextInstruction{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.boardGame{
    background-color:rgba(0, 0, 0, 0.7);
}

.boardGameMessage{
    color: #FFF;
    top: 40%;
}

.boardGameTextInstruction{
    color: #FFF;
    top: 90%;
    cursor: pointer;
    z-index: 999;
}

.board{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 !important;
    outline: solid 10px #007f00;
}

.board26{
    width: 780px !important;
    height: 780px;
}

.board22{
    width: 660px !important;
    height: 660px;
}

.board18{
    width: 540px !important;
    height: 540px;
}
