@font-face {
    font-family: 'Barlow Regular';
    src: url('assets/fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Light';
    src: url('assets/fonts/Barlow-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Light Italic';
    src: url('assets/fonts/Barlow-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Bold';
    src: url('assets/fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'icomoon';
    src:url(assets/fonts/icomoon.eot?fgvcg8);
    src:url('assets/fonts/icomoon.eot?fgvcg8#iefix') format('embedded-opentype'),
    url(assets/fonts/icomoon.ttf?fgvcg8) format('truetype'),
    url(assets/fonts/icomoon.woff?fgvcg8) format('woff'),
    url('assets/fonts/icomoon.svg?fgvcg8#icomoon') format('svg');
    font-weight:400;
    font-style:normal
}
[class^="icon-"],
[class*=" icon-"] {
    font-family:'icomoon'!important;
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.icon-youtube-color:before {
    content:"\e910"
}
.icon-twitter-color:before {
    content:"\e911"
}
.icon-facebook-color:before {
    content:"\e900"
}
.icon-dudas-y-reclamos:before {
    content:"\e901"
}
.icon-ayudanos-a-mejorar:before {
    content:"\e902"
}
.icon-ayuda-y-soporte:before {
    content:"\e903"
}
.icon-manuales-de-equipos:before {
    content:"\e904"
}
.icon-preguntas-frecuentes:before {
    content:"\e905"
}
.icon-youtube:before {
    content:"\e906"
}
.icon-twitter:before {
    content:"\e907"
}
.icon-facebook:before {
    content:"\e908"
}
.icon-detalle-de-consumo:before {
    content:"\e909"
}
.icon-paga-tu-cuenta:before {
    content:"\e90f"
}
.icon-zona:before {
    content:"\e90e"
}
.icon-consulta-de-saldo:before {
    content:"\e90d"
}
.icon-recarga-en-linea .path1:before {
    content:"\e90c";
    color:rgb(1,1,1)
}
.icon-recarga-en-linea .path2:before {
    content:"\e912";
    margin-left:-.884765625em;
    color:rgb(135,135,135)
}
.icon-recarga-en-linea .path3:before {
    content:"\e913";
    margin-left:-.884765625em;
    color:rgb(1,1,1)
}
.icon-recarga-en-linea .path4:before {
    content:"\e914";
    margin-left:-.884765625em;
    color:rgb(135,135,135)
}
.icon-recarga-en-linea .path5:before {
    content:"\e915";
    margin-left:-.884765625em;
    color:rgb(1,1,1)
}
.icon-recarga-en-linea .path6:before {
    content:"\e916";
    margin-left:-.884765625em;
    color:rgb(1,1,1)
}
.icon-recarga-en-linea .path7:before {
    content:"\e917";
    margin-left:-.884765625em;
    color:rgb(1,1,1)
}
.icon-lupa-buscar:before {
    content:"\e90b"
}
.icon-mi-entel:before {
    content:"\e90a"
}
